#############
## Python
#############

*.py[co]
*.pyc

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt
*.rar
*.xls

*.pyc
__pycache__/Generator.cpython-33.pyc
